@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto+Slab:400,700&display=swap");

* {
  vertical-align: center;
  outline: none;
}
html,
body {
  margin: 0;
  height: 100%;
}
@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin bxShadow {
  box-shadow: 0 5px 25px 5px rgba(black, 0.2);
}
