@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto+Slab:400,700&display=swap");

* {
  vertical-align: center;
  outline: none;
}
html,
body {
  margin: 0;
  height: 100%;
}
@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin bxShadow {
  box-shadow: 0 10px 25px 10px rgba(#0f0f11, 0.4);
}
@mixin fixPosition($l, $t) {
  position: fixed;
  left: $l;
  top: $t;
}
@keyframes bscale{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }  
}